In [1]:
import pandas as pd
df = pd.read_csv("/home/jiaruil5/personality/llm_personality/psychgenerator_opensource/data/big5_training_data.csv")
df

,message_id,message,ope_z,con_z,ext_z,agr_z,neu_z
0,tweet_143508,""";;tengo mi penchi fierron up in the air & its...",-0.300409,0.459249,0.294330,0.452765,-0.894041
1,tweet_425070,perhaps he loved everyone but me. nbut that ma...,0.896169,0.493197,-0.414594,0.337368,0.393312
2,tweet_502775,"if you have 3 coffee cups in your car, you hav...",0.213276,0.176036,0.328285,0.274713,-0.211072
3,tweet_600640,i'm too sleepy to start work in an hour,-0.711772,1.284832,-1.013234,0.611918,0.545335
4,blog_79108,i worked for a recruiter a little bit after i ...,1.837614,0.042504,-0.460709,0.061335,1.808086
...,...,...,...,...,...,...,...
846299,blog_46845,hey what do u think of 'unwell' by matchbox 20...,0.076771,-0.211666,0.577826,0.861935,-0.708217
846300,tweet_611609,my life is dedicated to school right now ready...,-1.700926,1.092124,1.216876,1.034062,-0.978274
846301,blog_107867,bush and cheney continue to assert that there ...,2.278704,0.275908,0.107220,-1.885664,-0.970312
846302,blog_178310,sometimes my in-laws do things that are totall...,1.589152,-0.109238,1.157105,0.405037,-0.363393
846303,blog_546171,i don't believe this shit... jules actually bo...,-1.079073,0.279342,0.110034,-0.759008,-0.277343

In [2]:
threshold_dict = {}
for dim in ['ope_z', 'con_z', 'ext_z', 'agr_z', 'neu_z']:
    sorted_df = df.sort_values(by=dim)
    threshold1 = sorted_df.iloc[df.shape[0] // 6 - 1][dim]
    threshold2 = sorted_df.iloc[(df.shape[0] // 6) * 2 - 1][dim]
    threshold3 = sorted_df.iloc[(df.shape[0] // 6) * 3 - 1][dim]
    threshold4 = sorted_df.iloc[(df.shape[0] // 6) * 4 - 1][dim]
    threshold5 = sorted_df.iloc[(df.shape[0] // 6) * 5 - 1][dim]
    threshold_dict[dim] = [threshold1, threshold2, threshold3, threshold4, threshold5]
threshold_dict

{'ope_z': [-0.842824338532205,
  -0.4029663684113835,
  -0.0698656183524546,
  0.3034304169143136,
  0.8387090992230923],
 'con_z': [-0.8474789105687547,
  -0.3169312001667322,
  0.0592276836452878,
  0.3969440991511102,
  0.8408251581529479],
 'ext_z': [-0.8335647348079056,
  -0.3479607641858526,
  0.0048268628215925,
  0.3459376221849413,
  0.8237963869754712],
 'agr_z': [-0.792012352448642,
  -0.2489480182096221,
  0.1118993164663467,
  0.4214287085845773,
  0.8148410059233933],
 'neu_z': [-0.7963034181707996,
  -0.4153183248054126,
  -0.1141679693528082,
  0.2193918063442674,
  0.7579548935587329]}

In [3]:
import numpy as np
values = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0]
for dim in ['ope_z', 'con_z', 'ext_z', 'agr_z', 'neu_z']:
    conditions = [
        df[dim] <= threshold_dict[dim][0],
        (df[dim] > threshold_dict[dim][0]) & (df[dim] <= threshold_dict[dim][1]),
        (df[dim] > threshold_dict[dim][1]) & (df[dim] <= threshold_dict[dim][2]),
        (df[dim] > threshold_dict[dim][2]) & (df[dim] <= threshold_dict[dim][3]),
        (df[dim] > threshold_dict[dim][3]) & (df[dim] <= threshold_dict[dim][4]),
        df[dim] > threshold_dict[dim][4]
    ]
    df[dim] = np.select(conditions, values)

In [17]:
df

,message_id,message,ope_z,con_z,ext_z,agr_z,neu_z
0,tweet_143508,""";;tengo mi penchi fierron up in the air & its...",0.4,0.8,0.6,0.8,0.0
1,tweet_425070,perhaps he loved everyone but me. nbut that ma...,1.0,0.8,0.2,0.6,0.8
2,tweet_502775,"if you have 3 coffee cups in your car, you hav...",0.6,0.6,0.6,0.6,0.4
3,tweet_600640,i'm too sleepy to start work in an hour,0.2,1.0,0.0,0.8,0.8
4,blog_79108,i worked for a recruiter a little bit after i ...,1.0,0.4,0.2,0.4,1.0
...,...,...,...,...,...,...,...
846299,blog_46845,hey what do u think of 'unwell' by matchbox 20...,0.6,0.4,0.8,1.0,0.2
846300,tweet_611609,my life is dedicated to school right now ready...,0.0,1.0,1.0,1.0,0.0
846301,blog_107867,bush and cheney continue to assert that there ...,1.0,0.6,0.6,0.0,0.0
846302,blog_178310,sometimes my in-laws do things that are totall...,1.0,0.4,1.0,0.6,0.4
846303,blog_546171,i don't believe this shit... jules actually bo...,0.0,0.6,0.6,0.2,0.4

In [18]:
df.rename(
    columns={
        "ope_z": "ope_z_label",
        "con_z": "con_z_label",
        "ext_z": "ext_z_label",
        "agr_z": "agr_z_label",
        "neu_z": "neu_z_label"
    }, inplace=True
)

In [19]:
df

,message_id,message,ope_z_label,con_z_label,ext_z_label,agr_z_label,neu_z_label
0,tweet_143508,""";;tengo mi penchi fierron up in the air & its...",0.4,0.8,0.6,0.8,0.0
1,tweet_425070,perhaps he loved everyone but me. nbut that ma...,1.0,0.8,0.2,0.6,0.8
2,tweet_502775,"if you have 3 coffee cups in your car, you hav...",0.6,0.6,0.6,0.6,0.4
3,tweet_600640,i'm too sleepy to start work in an hour,0.2,1.0,0.0,0.8,0.8
4,blog_79108,i worked for a recruiter a little bit after i ...,1.0,0.4,0.2,0.4,1.0
...,...,...,...,...,...,...,...
846299,blog_46845,hey what do u think of 'unwell' by matchbox 20...,0.6,0.4,0.8,1.0,0.2
846300,tweet_611609,my life is dedicated to school right now ready...,0.0,1.0,1.0,1.0,0.0
846301,blog_107867,bush and cheney continue to assert that there ...,1.0,0.6,0.6,0.0,0.0
846302,blog_178310,sometimes my in-laws do things that are totall...,1.0,0.4,1.0,0.6,0.4
846303,blog_546171,i don't believe this shit... jules actually bo...,0.0,0.6,0.6,0.2,0.4

In [14]:
df['con_z_label'].value_counts()

con_z
1.0    141054
0.8    141050
0.6    141050
0.4    141050
0.2    141050
0.0    141050
Name: count, dtype: int64

In [16]:
df.to_csv("filtered_big5_data_6_label.csv")